{% extends "root.django.html" %}

{% block "body" %}
<header>
    Living Postcards
    <a href="#">Home</a>
    <a href="#!/gallery/">Gallery</a>
    <a href="#!/map/">Map</a>
</header>
<div role="main">
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <div id="content"></div>
</div>
<footer>
<div id="footer-links">
<a href="#">About</a>
<a href="#">Contact Us</a>
</div>
</footer>
{% endblock %}
