{% load flatpages %}

{# static pages loaded dynamically by backbone #}
{% get_flatpages '/about/' as about_page %}
{% get_flatpages '/home/' as home_page %}
{% get_flatpages '/competition/' as competition_page %}

<script type="text/template" id="about-page-templ">
    {% for page in about_page %}{{ page.content }}{% endfor %}
</script>

<script type="text/template" id="competition-page-templ">
    {% for page in competition_page %}{{ page.content }}{% endfor %}
</script>

<script type="text/template" id="home-page-templ">
    {% for page in home_page %}{{ page.content }}{% endfor %}
</script>

{# backbone view templates #}
<script type="text/template" id="postcard-gallery-templ">
    <div id="content-nav" class="btn-group">
            <button class="btn gallery-sort" id="-updated"> <i class="icon-time"></i> Recent</button>
            <button class="btn gallery-sort" id="-popularity"> <i class="icon-star"></i> Popular</button>
            <!--<button class="btn disabled"> <i class="icon-map-marker"></i> Map Coming soon!</button>-->
    </div>
</script>

<script type="text/template" id="postcard-list-item-templ">
    <a href="<%= postcard.url %>">
        <div class="postcard-image">
            <img class="thumb still" src="<%= postcard.resources.cover_photo.url %>">
            <img class="thumb gif" src="<%= postcard.resources.animated_render.url %>">
        </div>
        <h4 class="title"><%= postcard.title %></h4>
        <h5 class="author"><%= postcard.author.display_name %>
            <% if (postcard.authors.length > 1) { %> 
            <span class="seperator">with</span> <%= (postcard.authors.length-1) %> 
            <% if (postcard.authors.length > 2 ) { %> others 
            <% } else { %> other <% } %>
        <% } %>
        </h5>
    </a>   
</script>

<script type="text/template" id="postcard-templ">
    <div class="postcard row">
        <div class="postcard-image clearfix offset1 span8">
            <img class="gif" src="<%= postcard.resources.animated_render.url %>"></img>

            <% if (postcard.location) { %>
            <div class="map">
                <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= postcard.location[1] %>,<%= postcard.location[0] %>&zoom=12&size=900x150&scale=1&sensor=false&style=feature:road%7Celement:labels%7Cvisibility:off&style=feature:water%7Celement:geometry%7Csaturation:-45%7Clightness:20%7Chue:0x91A8AD&style=feature:road.local%7Celement:geometry%7Clightness:-20%7Chue:0x000000%7Csaturation:-100&style=feature:road%7Celement:geometry%7Chue:0x000000%7Csaturation:-100&style=feature:landscape%7Celement:geometry%7Chue:0x84A8B0%7Clightness:50%7Csaturation:-100&style=feature:poi%7Celement:geometry%7Chue:0x68B3B3%7Clightness:10%7Csaturation:-100&markers=<%= postcard.location[1] %>,<%= postcard.location[0] %>" />
            </div>
            <% } %>

        </div>    
        <div class="details span2">
            <h3 class="title"><%= postcard.title %></h3>
            <h4 class="authors">
            <% _.each(postcard.authors, function(author, index, list) { %>
                <span class="author <% if(index == 0){%>primary <% }%>">
                    <%= author %>
                    <span class="seperator">
                        <% if(index == 0 && list.length > 1){ %>with <%}%> 
                        <% if(index < list.length-2 && index != 0){ %>, <%}%> 
                        <% if(index == list.length-2){ %>and <%}%>
                    </span>
                </span>
            <% }); %>
            </h4>
            <div class="description">
                <% if(postcard.description != undefined){%>
                    <p><%= postcard.description %></p>
                <% } %>
            </div>
            <div id="facebook-like"></div>
        </div> 
    </div>
</script>
