{% load flatpages %}
{% load i18n %}

<script type="text/template" id="about-page-templ">
    <div id="about" class="flatpage">
    {{ about_page|safe }} 
    </div>
</script>

<script type="text/template" id="competition-page-templ">
    <div id="competition" class="flatpage">
    {{ competition_page|safe }}
    </div>
</script>

<script type="text/template" id="home-page-templ">
    <div id="home" class="flatpage">
    {{ home_page|safe }}
    </div>
</script>

<script type="text/template" id="loader-templ">
    <div id="loading">
        <h3 class="message clearfix"><i class="loader"></i> {% trans "Loading" %}</h3> 
    </div>
</script>

{# backbone view templates #}
<script type="text/template" id="postcard-gallery-templ">
    <div id="content-nav" class="btn-group">
            <button class="btn gallery-sort" id="-updated"> <i class="icon-time"></i> {% trans "Recent" %}</button>
            <button class="btn gallery-sort" id="-popularity"> <i class="icon-heart"></i> {% trans "Popular"%}</button>
            <!--<button class="btn disabled"> <i class="icon-map-marker"></i> Map Coming soon!</button>-->
    </div>
    <div id="list-container"></div>
</script>

<script type="text/template" id="postcard-list-item-templ">

    <a href="<%= postcard.url %>">
        <div data-gif-src="<%= postcard.resources.animated_render.url %>" class="postcard-image">
            <img class="still" src="<%= postcard.resources.cover_photo.url %>"></img>
            <p class="date"><i class="icon-time icon-white"></i> <span> <%= moment(postcard.updated).calendar() %></span></p>
            <p class="likes"><i class="icon-heart icon-white"></i> <%= postcard.facebook_likes %></p>
        </div>
        <div class="details">
            <h4 class="title"><%= postcard.title %></h4>
            <h5 class="author"><%= postcard.author.display_name %>
                <% if (postcard.authors.length > 1) { %> 
                <span class="seperator">with</span> <%= (postcard.authors.length-1) %> 
                <% if (postcard.authors.length > 2 ) { %> others 
                <% } else { %> other <% } %>
            <% } %>
            </h5>
        </div>
    </a>   
</script>

<script type="text/template" id="postcard-templ">
    
     <%  
        var created = moment(postcard.created);
        var updated = moment(postcard.updated);
        var milli_diff = updated.diff(created, 'milliseconds');
        var time_period = moment.duration(milli_diff, 'milliseconds').humanize();

        var context_format = created.format('MMMM') != updated.format('MMMM') ? '\\, YYYY' : '\\, MMMM YYYY' ;
        var period_context = created.format('YYYY') != updated.format('YYYY') ? '' : created.format(context_format);

        var date_format = 'LLL'

        moment.calendar['sameElse'] = 'ddd, MM\\/DD\\/YY';
    %>
    
    <div class="postcard row">
        <div class="postcard-image offset1 span8">
            <img class="gif" src="<%= postcard.resources.animated_render.url %>"></img>
        </div>  

        <div class="details span3">
            <h3 class="title"><%= postcard.title %></h3>
            <h4 class="authors">
            <% _.each(postcard.authors, function(author, index, list) { %>
                <span class="author <% if(index == 0){%>primary <% }%>">
                    <%= author %>
                    <span class="seperator">
                        <% if(index == 0 && list.length > 1){ %>with <%}%> 
                        <% if(index < list.length-2 && index != 0){ %>, <%}%> 
                        <% if(index == list.length-2 && list.length > 2){ %>and <%}%>
                    </span>
                </span>
            <% }); %>
            </h4>
            <div class="description">
                <% if(postcard.description != undefined){%>
                    <p><%= postcard.description %></p>
                <% } %>
            </div> 

            <!--<p class="date"><i class="icon-time"></i> <%= time_period %><%= period_context %> </p> -->
            <p> <span class="time-range">{% trans "duration" %}</span> <%= time_period %> <span class="time-range">{% trans "started" %}</span> <%= created.calendar() %> <br/> <span class="time-range">{% trans "most recent photo" %}</span> <%= updated.calendar() %> </p>
            <div id="facebook-like"></div>
        </div> 


        <% if (postcard.location != undefined ) { %>
        <div class="map offset1 span8">
                <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= postcard.location[1] %>,<%= postcard.location[0] %>&zoom=12&size=900x150&scale=1&sensor=false&style=feature:road%7Celement:labels%7Cvisibility:off&style=feature:water%7Celement:geometry%7Csaturation:-45%7Clightness:20%7Chue:0x91A8AD&style=feature:road.local%7Celement:geometry%7Clightness:-20%7Chue:0x000000%7Csaturation:-100&style=feature:road%7Celement:geometry%7Chue:0x000000%7Csaturation:-100&style=feature:landscape%7Celement:geometry%7Chue:0x84A8B0%7Clightness:50%7Csaturation:-100&style=feature:poi%7Celement:geometry%7Chue:0x68B3B3%7Clightness:10%7Csaturation:-100&markers=<%= postcard.location[1] %>,<%= postcard.location[0] %>" />
        </div>
        <% } %>

         
        
    </div>
</script>
