<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Living Postcards</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!--<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">-->
    
    <link rel="stylesheet/less" type="text/css" href="static/less/styles.less">
    <script src="http://lesscss.googlecode.com/files/less-1.3.0.min.js" type="text/javascript"></script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.5.0-dev/mustache.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>

    <script src="{% url context_js %}"></script>
    <script src="{{STATIC_URL}}js/OpenLayers.js"></script>
    <script src="{{STATIC_URL}}js/cloudmade.js"></script>
    <script src="{{STATIC_URL}}js/map.js"></script>
    <script src="{{STATIC_URL}}js/main.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
    FB.init({
        appId      : '{{FACEBOOK_APP_ID}}', // App ID
        channelUrl : '{{HOST|upper}}{% url facebook_channel_html %}', // Channel File
        status     : false, // check login status
        cookie     : false, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
    });

    FB.Event.subscribe('edge.create',
        function(response) {
            update_facebook_likes(response);
        }
    );

    FB.Event.subscribe('edge.remove',
        function(response) {
            update_facebook_likes(response);
        }
    );
};

(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>

{% include "js_templates.django.html" %}

{% block "body" %}{% endblock %}
<script>
    var _gaq=[['_setAccount','{{GOOGLE_ANALYTICS_ID}}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));

    {% if fragment %}
        var fragment = '{{fragment}}';
        window.location = HOME_URL + '#!' + fragment;
    {% endif %}
</script>
</body>
</html>
